@mixin until($viewport) {
  @media screen and (max-width: $viewport) {
    @content;
  }
}

@mixin from($viewport) {
  @media screen and (min-width: $viewport) {
    @content;
  }
}

@mixin between($viewport1, $viewport2) {
  @media screen and (min-width: $viewport1) and (max-width: $viewport2) {
    @content;
  }
}
