@import 'variables';
@import 'mixins';
@import 'reset';

:root {
  --background-dark: radial-gradient(ellipse at top, #1d0032, #000000);
  --foreground-dark: #ededed;

  --background-light: radial-gradient(ellipse at top, #f3e2ff, #ffffff);
  --foreground-light: #1c1c1c;

  --primary-color: #7105c4;
  --primary-color-desaturated: #633f7f;

  // Fonts & Typefaces
  --font-size: 18px;
  --font-size-mobile: 14px;
  --font-family: monospace;

  // Fallback for browsers that don't support the necessary media queries
  --background-color: var(--background-dark);
  --foreground-color: var(--foreground-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--background-light);
    --foreground-color: var(--foreground-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-dark);
    --foreground-color: var(--foreground-dark);
  }
}

html,
body {
  font-size: var(--font-size);
  line-height: 1.3;

  @include until($tablet) {
    font-size: var(--font-size-mobile);
  }
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-family);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  animation: fadeIn 1s ease-in-out;
}

small#mode,
small#help-msg {
  display: block;
  text-align: center;
  position: absolute;
  left: 50%;
}

small#mode {
  transform: translate(-50%, -20px);
}

small#help-msg {
  line-height: 1.5;
  transform: translate(-50%, 20px);
  animation: fadeIn 4s ease-in-out;

  a:link,
  a:visited {
    color: var(--foreground-color);
    transition: color 0.2s ease-in-out;
  }

  a:hover,
  a:focus {
    color: var(--primary-color);
  }
}

input#omnibar {
  width: 60vw;
  font-size: 2rem;
  padding: 20px 10px 20px;
  border-bottom: 5px solid hsla(0, 0%, 50%, 1);
  text-align: center;
  transition: border-bottom-color 0.2s ease-in-out,
    border-bottom-width 0.2s ease-in-out;
  animation: expand 1s ease-in-out;

  &:not(:placeholder-shown) {
    border-bottom-color: var(--primary-color-desaturated);
  }

  &:focus {
    border-bottom-color: var(--primary-color);
    outline: 0;
  }

  @include until($tablet) {
    width: 80vw;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expand {
  from {
    opacity: 0.5;
    transform: scaleX(0.5);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
